* {
  /* font-family: "Courier New", Courier, monospace; */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header h1 {
  max-width: 55vh;
  margin: 8vh 0 10vh 8vh;

  color: #098ff0;

  text-align: center;

  font-family: "Staatliches", cursive;
  font-size: 72px;
  font-weight: lighter;

  border: 1px solid orange;
}

body {
  background: url("../images/layer_opacity.svg"),
    url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid blue;
}

#main_icons {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
  max-width: 80vh;

  border: 2px solid green;
}

section svg {
  margin: 2em;
}

#resume {
  border: 2px solid yellow;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin: auto;
  max-width: 120vh;

  font-family: "Jaldi", sans-serif;
  font-size: 32px;
  line-height: 35px;
  color: #73b8ea;
}

#btn_down {
  max-width: 19vh;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid red;
}

svg:hover path {
  fill: #73b8ea;
  transition: 0.4s ease;
}
